@import "settings.css";

@font-face {
    font-family: FontAwesome;
    src: url(fontawesome-webfont.woff);
}


* {
  color: var(--text-color);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 14px;
  text-align: justify;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

a:link { color: var(--theme-color); }
a:visited { color: var(--light-back-color); }
a:hover { color: var(--highlight-color); }

h1, h2, h3, h4 {
  color: var(--heading-color);
}

.icon {
  font-family: FontAwesome;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: transparent;
  margin: 80px auto;
  margin-left: 270px;
  border: 1px solid gray;
}

aside, article, section {
  background-color: var(--float-color);
  margin: 10px;
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid var(--edge-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
}

aside {
  top: 80px;
  position: fixed;
  padding: 0px;
  background-color: var(--float-color);
  width: 250px;
  left: 0px;
  text-align: left;
  box-sizing: border-box;
}

article:nth-of-type(2n), section:nth-of-type(2n) {
  --float-color: var(--light-front-color);
  --text-color: var(--light-back-color);
}

img {
  max-width: 100%;
}

header {
  font-size: 16px;
  font-weight: 900;
	position: fixed;
	top: 0;
	width: 100%;
  background-color: var(--menu-color);
	z-index: 20;
  padding: 0px;
  display: block;
  box-shadow: 5px 5px 10px var(--shadow-color);
}

header nav {
  padding: 0px 30px;
  padding-top: 10px;
  height: var(--menu-height);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

nav li {
  float: left;
  position: relative;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  box-sizing: border-box;
  display: block;
  z-index: 10;
  /*border: 1px solid;*/
}

nav a:visited { color: var(--text-color); }

header a {
  height: var(--menu-height);
  padding: 15px;
}

.navicon {
  display: none;
  float: left;
}

.logo {
  float: left;
  padding: 0px;
}

.logo > img {
  height: 100%;
  float: left;
}

.logo > span {
  padding: 15px 30px 0 0;
  float: left;
}

.search {
  float: right;
}

nav a:hover {
  color: var(--dark-front-color);
  background-color: var(--theme-color);
}

nav a:active {
  background-color: var(--highlight-color);
}

nav li:hover > ul.submenu {
  display: block;
}

aside {
  padding: 0px;
}

aside li {
  display: block;
  float: none;
}

aside li {
  /*border-top: 1px solid white;*/
  /*border-bottom: 1px solid lightblue;*/
}

/*aside li:first-of-type a {
  border-radius: 7px;
  background-color: red;
  border-top: none;
}
aside li:last-of-type {
  border-bottom: none;
}*/

.submenu {
	display: none;
  position: absolute;
	z-index: 100;
  width: 100%;
}

.submenu > li {
	width: 100%;
	border-right: 2px solid transparent;
}

.submenu a {
  background-color: var(--menu-color);
}

aside .submenu {
  position: relative;
  display: block;
}


#TableOfContents ul {
  display: block;
  float: none;
}

#TableOfContents li {
  padding-left: 10px;
  display: block;
  float: none;
  background-color: pink;
}


/*
.TOC li {
  float: left;
  padding: 0px;
  margin: 0px;
}

header .TOC {
  display: none;
}*/

#navicon {
  display: none;
}

#navicon:checked ~ .menu {
  position: absolute;
  top: var(--menu-height);
  margin-top: 0px;
  display: block;
  /*float: left;*/
  /*width: 100%;*/
  max-width: 400px;
}

#navicon:checked ~ .menu li {
  display: block;
  float: none;
}

#navicon:checked ~ .menu a {
  height: 100%;
  background-color: var(--menu-color);
}

.active {
  color: var(--dark-front-color);
  background-color: var(--theme-color);
}

@media (max-width: 800px) {
  header .menu {
    display: none;
  }
  .navicon {
    display: block;
  }
  aside {
    display: none;
  }
  main {
    margin-left: 0px;
  }
  header .TOC {
    display: inline-block;
  }
  .submenu {
    position: relative;
  }
  .logo {
    width: 80%;
    margin: 0 auto;
  }
}

aside .submenu {
  display: block;
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 1.2s;
}


@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
   transform: rotate(-25deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  70% {
    transform: rotate(10deg);
  }

  80% {
   transform: rotate(-25deg);
  }

  90% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
