@import "settings.css";

body {
  background: var(--base-color);
  color: var(--text-color);
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 14px;
  display: block;
  margin: 0px;
}

aside {
  position: fixed;
  float: left;
  background-color: var(--float-color);
  margin-top: 200px;
  max-width: 150px;
  text-align: left;
}

main {
  background-color: var(--float-color);
  margin-top: 80px;
  margin-left: 150px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: var(--base-color);
}

article {
  background-color: var(--float-color);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
  margin: 20px;
  padding: 20px;
}

.summary {
  background-color: white;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

header {
  font-size: 16px;
  font-weight: bold;
  background-color: var(--float-color);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--menu-height);
	z-index: 20;
}


.icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 0px;
  float: left;
	height: calc(var(--menu-height) - 10px);
  /*width: 100%;*/
  border: 1px solid;
  box-sizing: border-box;
  display: block;
}

.navicon {
  display: none;
  cursor: pointer;
  position: fixed;
  float: left;
}



@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .navicon {
    display: block;
  }
}

#navi {
  display: none;
}

#navi:checked ~ .menu {
  display: block;
  float: none;
  width: 200px;
  background-color: var(--float-color);
  margin-top: var(--menu-height);
}

#navi:checked ~ .menu li {
  display: block;
  float: none;
}

.menu li {
	height: 100%;
  box-sizing: border-box;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
  border: 1px solid;
	border-top: 5px solid transparent;
  display: block;
  background-color: var(--float-color);
  --submenu-visible: none
}

.menu li:hover {
  border-color: red;
  background-color: var(--highlight-color);
  --submenu-visible: block;
  float: left;
}

.submenu {
  background-color: white;
  padding: 0;
  float: left;
  box-sizing: border-box;
  list-style-type: none;
	display: var(--submenu-visible);
  /*padding-top: 30px;*/
  margin-top: 10px;
  position: absolute;
	width: inherit;
	z-index: 100;
	list-style-type: none;
  overflow: auto;
  transform: translateX(-20px);
}

.submenu > li {
  box-sizing: border-box;
  padding: 0;
	padding-left: 20px;
	width: 100%;
  border-top: none;
	border-right: 2px solid transparent;
	height: 20px;
}

.active {
  background-color: var(--accent-color);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 1.2s;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
   transform: rotate(-25deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  70% {
    transform: rotate(10deg);
  }

  80% {
   transform: rotate(-25deg);
  }

  90% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
