@import "settings.css";

body{
  background: var(--background-color);
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 14px;
  margin-bottom: 70px;
}

aside {
  position: fixed;
  float: left;
  background-color: red;
  margin-top: 200px;
  max-width: 150px;
  text-align: left;
}

main {
  margin-top: 80px;
  padding-left: 200px;
}

.summary {
  background-color: white;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.content {
  background-color: var(--accent-color);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.header-menu {
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 100, 0, 0.9);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*height: $menu-height;*/
	z-index: 20;
	ul {
		margin: 0 auto;
		list-style-type: none;
		height: 100%;
		padding: 0;
	}
}

@media (min-width: 600px) {
  :root {
    --accent-color: brown;
  };
}

.header-item-container{
  margin-left: 100px;
  float: left;
	height: 100%;
}

.header-item{
	height: 100%;
  width: auto;
	display: none;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	border-top-color: transparent;
	border-top-style: solid;
	border-top-width: 2px;
	box-sizing: border-box;
  display: block;
	a {
		font-size: 1rem;
		vertical-align: middle;
		display: table-cell;
		height: 200;
	}
	/*@media #{$large} {
		display: block;
	}*/
}

.active {
  background-color: blue;
}

.header-item:hover{
  border-top-color: var(--accent-color);
  background-color: var(--accent-color);
}

.header-item:hover .header-submenu{
	display: block;
	position: absolute;
}

.header-submenu {
	display: none;
  border-top: 2px solid 2px;
	width: inherit;
	z-index: 100;
	list-style-type: none;
  transform: translateX(-20px);
}

.sub-item {
  background-color: red;
	position: relative;
	padding-left: 20px;
	width: inherit;
	border-bottom: 1px solid gray;
	border-left: 1px solid;
	height: 20px;
	text-decoration: none;
  a {
  	vertical-align: left;
  }
}

.sub-item:hover {
	border-bottom-color: var(--accent-color);
	border-left-color: var(--accent-color);
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
