<ul class="menu">
  {{ $currentPage := .}}
  {{ range .Site.Menus.main }}
      <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ if .HasChildren }}
          <ul class="submenu">
          {{ range .Children }}
            <li>
              <a href="{{ $currentPage.Site.BaseURL }}{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
          </ul>
      </li>
    {{ end }}
  {{ end }}
</ul>
