<ul class="menu">
  {{ $currentPage := .}}
  {{ range .Site.Menus.main }}
      <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ if .HasChildren }}
          <ul class="submenu">
            {{ range .Children }}
              <li>
                <a href="{{ $currentPage.Site.BaseURL }}{{ .URL }}">{{ .Name }}</a>
                {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent .Parent .) }}
                  <ul class="TOC">
                    {{ $currentPage.TableOfContents }}
                  </ul>
                {{ end }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
  {{ end }}
</ul>
