<ul class="submenu">
  {{ range sort .Sections ".Params.weight" }}
    <li class="{{ if hasPrefix $.URL .URL }}active{{ end }}">
      <a href="{{ .URL }}">{{ .Title }}</a>
      {{ if hasPrefix $.URL .URL }}
        <ul class="submenu">
          {{ range sort .Pages }}
            <li class="{{ if eq $.URL .URL }}active{{ end }}">
              <a href="{{ .URL }}">{{ .Title }}</a>
              {{ if eq $.URL .URL }}
                {{ .TableOfContents }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
  {{ end }}
</ul>
